<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resume/dist/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <title>Mouataz Hakkou</title>
</head>

<body>
<nav class="bg-gray-800">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <!-- Mobile menu button-->
                    <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                
                
              </button>
                </div>
                <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex-shrink-0 flex items-center text-2xl font-bold text-red-400">
                        Mouataz Hakkou
                    </div>
                    <div class="hidden sm:block sm:ml-6">
                        <div class="flex space-x-4">

                            <a href="/" class=" text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Home</a>

                            <a href="/blog" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Blog</a>

                            <a href="/store" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Store</a>

                            <a href="/portfolio" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Portfolio</a>
                        </div>
                    </div>
                </div>
                <a class="text-gray-300 m-3" href="#">Login</a>
                <a class="text-gray-300" href="#">Register</a>
            </div>

        </div>
    </nav>
    <div class="page bg-gray-800 p-5">
        <div class="my_info p-5 ">
            <img src="resume/imgs/002.png" class="h-36 w-36 rounded-full m-auto" alt="">
        </div>
        <h2 class="font-bold text-2xl text-gray-200 text-center p-2 font-serif">Mouataz Hakkou</h2>
        <a href="#"><i class="fab fa-facebook fa-2x rounded text-blue-700  m-2"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x  rounded text-blue-500 m-2"></i></a>
        <a href="#"><i class="fab fa-github fa-2x text-black rounded  m-2"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-2x text-blue-600 rounded  m-2"></i></a>
        <a href="#"><i class="fab fa-whatsapp fa-2x text-green-600 rounded  m-2"></i></a>
        <a href="resume/mycv-converti.pdf" class="bg-red-500 font-bold p-2 rounded hover:bg-green-500 md:float-right sm:flex sm:w-52 sm:m-2" download>Télécharger le CV PDF !</a>
    </div>

    <div class="about md:grid md:grid-cols-2 bg-gray-900 p-5 m-5 rounded md:h-96 sm:grid sm:grid-rows-2 md:gap-x-10 sm:gap-y-0">
        <div class="bio text-center">
            <h2 class="font-bold text-2xl text-white">Bio</h2>
            <p class="text-gray-300 font-mono font-bold text-xl mt-2">
                Je suis un jeune étudiant ,j'ai <span class="age">22</span> ans j'ai eu mon bac en SVT en 2018 et j'étudie actuellement a SUPMTI l'Ecole Supérieur de Management, Télécommunication et d'Informatique Oujda. Je suis a la rechereche d'un stage
                pour un technicien en domaine informatique
            </p>
        </div>
        <div class="info grid grid-rows-6">
            <h2 class="font-bold text-2xl text-white text-center">Informations Basiques</h2>
            <div><span class="font-bold text-xl text-gray-200 font-serif">Nom : </span><span class="font-bold text-gray-200 font-serif">Mouataz Hakkou</span></div>
            <div><span class="font-bold text-xl text-gray-200 font-serif">Age : </span><span class="age font-bold text-gray-200 font-serif">22</span></div>
            <div><span class="font-bold text-xl text-gray-200 font-serif">Email : </span><span class="font-bold text-gray-200 font-serif">moataz.hakkou@gmail.com</span></div>
            <div><span class="font-bold text-xl text-gray-200 font-serif">Téléphone : </span><span class="font-bold text-gray-200 font-serif">+212 6 50 53 65 13</span></div>
            <div><span class="font-bold text-xl text-gray-200 font-serif">Address : </span><span class="font-bold text-gray-200 font-serif">Maroc, OUJDA SIDI ZIANE, Ezzaytoune, Lotissement Douhi & Boujamaa, 4</span></div>
        </div>
    </div>
    <div class="proskills bg-gray-900 p-5 m-5 rounded sm:grid sm:grid-rows-3 md:grid md:grid-cols-2 md:gap-x-5 md:h-120">
        <h2 class="font-bold text-white text-2xl font-serif text- md:col-span-2 text-center">compétences professionnelles</h2>
        <div class="row1">
            <div class="relative ">
                <h1 class="text-white font-bold font-serif text-xl">HTML</h1>
                <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200  h-5">
                    <div style="width:95%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
                </div>
            </div>
            <div class="relative ">
                <h1 class="text-white font-bold font-serif text-xl">CSS</h1>
                <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200 h-5">
                    <div style="width:88%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
                </div>
            </div>
            <div class="relative ">
                <h1 class="text-white font-bold font-serif text-xl">TAILWINDCSS</h1>
                <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200 h-5">
                    <div style="width:80%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
                </div>
            </div>
            <div class="relative ">
                <h1 class="text-white font-bold font-serif text-xl"> BOOTSTRAP</h1>
                <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200 h-5">
                    <div style="width:80%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
                </div>
            </div>
            <h1 class="text-white font-bold font-serif text-xl">JAVASCRIPT</h1>
            <div class="relative ">
                <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200 h-5">
                    <div style="width:70%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
                </div>
            </div>
            <div class="relative ">
                <h1 class="text-white font-bold font-serif text-xl">C</h1>
                <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200 h-5">
                    <div style="width:50%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
                </div>
            </div>

        </div>
        <div class="row2">
            <div class="relative ">
                <h1 class="text-white font-bold font-serif text-xl">PHP</h1>
                <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200 h-5">
                    <div style="width:70%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
                </div>
            </div>
            <div class="relative ">
                <h1 class="text-white font-bold font-serif text-xl">SQL</h1>
                <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200 h-5">
                    <div style="width:80%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
                </div>
            </div>
            <div class="relative ">
                <h1 class="text-white font-bold font-serif text-xl">LARAVEL</h1>
                <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200 h-5">
                    <div style="width:20%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
                </div>
            </div>
            <div class="relative ">
                <h1 class="text-white font-bold font-serif text-xl">SYMFONY</h1>
                <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200 h-5">
                    <div style="width:40%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
                </div>
            </div>
            <div class="relative ">
                <h1 class="text-white font-bold font-serif text-xl">JAVA</h1>
                <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200 h-5">
                    <div style="width:10%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
                </div>
            </div>
            <div class="relative ">
                <h1 class="text-white font-bold font-serif text-xl">PYTHON</h1>
                <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-pink-200 h-5">
                    <div style="width:60%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-green-500"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="education bg-gray-900 p-5 m-5 rounded ">
        <h1 class="text-white text-2xl font-serif font-bold text-center m-5 mb-10 md:justify-items-center">Education</h1>
        <div class="md:grid md:grid-cols-3 text-center font-bold text-gray-200 md:justify-items-center md:m-5 ">
            <div class="title bg-gray-800 p-5 md:w-72">
                <div class="">2020 - 2021 </div>
                <div class="">Licence</div>
            </div>
            <div class="details bg-gray-600 p-5 md:w-full">
                <h2>licence en ingénierie des systèmes d'informations</h2>
                <p>3eme anné en ingénierie des systèmes d'informations</p>
            </div>
        </div>
        <div class="md:grid md:grid-cols-3 text-center font-bold text-gray-200 md:justify-items-center md:m-5">
            <div class="title bg-gray-800 p-5 md:w-72">
                <div class="">2019 - 2020 </div>
                <div class="">Deuxième année tronc commun </div>
            </div>
            <div class="details bg-gray-600 p-5">
                <h2>Deuxième année en ingénierie des systèmes d'informations</h2>
                <p>2eme anné tronc commun en ingénierie des systèmes d'informations</p>
            </div>
        </div>
        <div class="md:grid md:grid-cols-3 text-center font-bold text-gray-200 md:justify-items-center md:m-5">
            <div class="title bg-gray-800 p-5 md:w-72">
                <div class="">2018 - 2019 </div>
                <div class="">Première année tronc commun </div>
            </div>
            <div class="details bg-gray-600 p-5">
                <h2>Première année en ingénierie des systèmes d'informations</h2>
                <p>1re anné tronc commun en ingénierie des systèmes d'informations</p>
            </div>
        </div>
        <div class="md:grid md:grid-cols-3 text-center font-bold text-gray-200 md:justify-items-center md:m-5">
            <div class="title bg-gray-800 p-5 md:w-72">
                <div class="">2017 - 2018 </div>
                <div class="">Faculté Mohammed Premier oujda </div>
            </div>
            <div class="details bg-gray-600 p-5">
                <h2>Première année en Biologie</h2>
                <p>1re anné en Biologie dans la Faculté Mohammed Premier oujda </p>
            </div>
        </div>
        <div class="md:grid md:grid-cols-3 text-center font-bold text-gray-200 md:justify-items-center md:m-5">
            <div class="title bg-gray-800 p-5 md:w-72">
                <div class="">2016 - 2017 </div>
                <div class="">Baccalauréat </div>
            </div>
            <div class="details bg-gray-600 p-5">
                <h2>PBaccalauréat SVT</h2>
                <p>Baccalauréat SVT a lycée prince moulay rachid Figuig </p>
            </div>
        </div>


    </div>
    <div class="contact">
        <div class="relative flex items-top justify-center min-h-screen bg-gray-900 dark:bg-gray-900 sm:items-center sm:pt-0 p-5 m-5 rounded">
            <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
                <div class="mt-8 overflow-hidden">
                    <div class="grid grid-cols-1 md:grid-cols-2">
                        <div class="p-6 mr-2 bg-gray-100 dark:bg-gray-800 sm:rounded-lg">
                            <h1 class="text-4xl sm:text-5xl text-gray-800 dark:text-white font-extrabold tracking-tight">
                                Get in touch
                            </h1>
                            <p class="text-normal text-lg sm:text-2xl font-medium text-gray-600 dark:text-gray-400 mt-2">
                                Fill in the form to start a conversation
                            </p>

                            <div class="flex items-center mt-8 text-gray-600 dark:text-gray-400">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" class="w-8 h-8 text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
                                </svg>
                                <div class="ml-4 text-md tracking-wide font-semibold w-40">
                                    Maroc, Oujda Ezzaytoune
                                </div>
                            </div>

                            <div class="flex items-center mt-4 text-gray-600 dark:text-gray-400">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" class="w-8 h-8 text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"/>
                                </svg>
                                <div class="ml-4 text-md tracking-wide font-semibold w-40">
                                    +212 6 50 53 65 13
                                </div>
                            </div>

                            <div class="flex items-center mt-2 text-gray-600 dark:text-gray-400">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" class="w-8 h-8 text-gray-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
                                </svg>
                                <div class="ml-4 text-md tracking-wide font-semibold w-40">
                                    moataz.hakkou@gmail.com
                                </div>
                            </div>
                        </div>

                        <form class="p-6 flex flex-col justify-center">
                            <div class="flex flex-col">
                                <label for="name" class="hidden">Nom complète</label>
                                <input type="name" name="name" id="name" placeholder="Nom complète" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 font-semibold focus:border-indigo-500 focus:outline-none">
                            </div>

                            <div class="flex flex-col mt-2">
                                <label for="email" class="hidden">Email</label>
                                <input type="email" name="email" id="email" placeholder="Email" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 font-semibold focus:border-indigo-500 focus:outline-none">
                            </div>

                            <div class="flex flex-col mt-2">
                                <label for="tel" class="hidden">message</label>
                                <textarea name="tel" id="tel" placeholder="message" class="w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 font-semibold focus:border-indigo-500 focus:outline-none" cols="30" rows="10"></textarea>

                            </div>

                            <button type="submit" class="md:w-32 bg-indigo-600 hover:bg-blue-dark text-white font-bold py-3 px-6 rounded-lg mt-3 hover:bg-indigo-500 transition ease-in-out duration-300">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-900 p-5 m-5 rounded">
        <footer class="flex flex-wrap items-center justify-between p-1 m-auto">
            <div class="container mx-auto flex flex-col flex-wrap items-center justify-between">
                <ul class="flex mx-auto text-white text-center">
                    <li class="p-1 cursor-pointer hover:underline">Terms & Conditions</li>
                    <li class="p-1 cursor-pointer hover:underline">Privacy</li>
                    <li class="p-1 cursor-pointer hover:underline">Cookies</li>
                </ul>
                <div class="flex mx-auto text-white text-center">
                    Copyright Mouataz Hakkou© 2021
                </div>
            </div>
        </footer>
    </div>

    <script src="scripts/app.js"></script>
</body>

</html>